<form  action="/projects/<%= @project.id %>" method="post">
  <input type="hidden"   name="_method" value="patch">
  <label for="title">
  Edit:</label>
<input type="text" name="title">
<button type="submit" name="button">Update Project</button>
</form>
